<partial name ="_Caroussel"/>

<div class="container">
    <div class="row">
        <!-- Coluna da Esquerda - Biografia -->
        <div class="col-md-6">
            <h1 class="titulo-principal">Quem Sou Eu</h1>
            <div class="biografia-texto">
                <p>
                    Com uma carreira sólida de 17 anos na área da beleza, Paula Pacheco construiu um compromisso por seu talento e compromisso com a excelência. Em 2017, realizou o sonho de abrir seu próprio salão, criando um espaço dedicado a transformar e realçar a beleza de cada cliente.
                    Ao longo de sua trajetória, ela investiu continuamente em formação para oferecer o melhor serviço. Com cursos especializados em cortes modernos, colorimetria avançada e uma especialização em mechas e correção de cor, ela é reconhecida por seu domínio em técnicas de coloração personalizadas. Além disso, com formação em maquiagem e penteados, Paula se tornou uma profissional completa, pronta para atender em benefícios especiais, como casamentos e eventos, com penteados e looks sofisticados.
                    A dedicação, o carinho e o cuidado em cada detalhe fazem dela uma referência na área, sempre em busca de novas tendências e técnicas para surpreender seus clientes e fazer com que cada um se sinta único.
                </p>
            </div>
        </div>

        <!-- Coluna da Direita - Foto -->
        <div class="col-md-6">
            <div class="foto-perfil">
                <img src="~/images/Cabeleireira-Paula.jpeg" alt="[Nome da Cabelereira]" class="img-fluid">
            </div>
        </div>
    </div>
</div>